extends layout

block content
	#editor
		| #include &ltstdio.h&gt
		| void main(){
		| printf("Hello");
		| }
	.submit-area
		label(for='filetype') Language: 
		select#filetype(name='filetype')
			option(value='c') C
			option(value='cpp', disabled='') C++
			option(value='javascript') JavaScript
			option(value='shell') Shell
		label(for='program-name') Program Name: 
		input(type='text', name='program-name')
		button#run Run
	script(src='javascripts/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
	script(src='javascripts/src-noconflict/ext-language_tools.js', type='text/javascript', charset='utf-8')
	script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
	script(type='text/javascript', src='javascripts/script.js')

