extends layout

block content
	form(action='', method='post')
		label(for='first_name') First Name
		input(type='text', required='true', placeholder='First Name' name='first_name')

		label(for='last_name') Last Name
		input(type='text', required='true', placeholder='Last Name' name='last_name')

		label(for='email') Email ID
		input(type='email', required='true', placeholder='Email' name='email')

		label(for='password') Password
		input(type='password', required='true', placeholder='Password' name='password')

		input(type='submit' value='Submit')
